<style type="text/css">
<!--
body				{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#464646;line-height:130%;}
td 				{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#464646;line-height:130%;}
.form 			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#333333;text-decoration:none;border:1px #7E7E7E solid;}
.board			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#000000;line-height:140%;}
.boardnum		{font-family:arial;font-size:8pt;color:#ffffff;line-height:140%;}
.boardtext		{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#ffffff;line-height:140%;}

A		 		{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#464646;text-decoration:none;}
A:link			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#464646;text-decoration:none;}
A:visited			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#000000;text-decoration:none;}
A:active			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#000000;text-decoration:none;}
A:hover 			{font-family:±¼¸²,tahoma,arial;font-size:9pt;color:#FE8A16;text-decoration:underline;}

-->
</style>