/* ===================================== Order List========================================= */
.orderSection{
    min-height: 100%;
    margin: 0 auto;
    padding-top: 300px;
}

.orderWrap{
    position: relative;
    padding: 0 240px;
}

.menu_section{
    position: absolute;
    top: -10%;
    left: 45.5%;
    width: 200px;
}

.orderTitle{
    width: 200px;
}

.ordertit{
    font-weight: 700;
    font-size: 20px;
    line-height: .6;
}

.content_section{
    width: 100%;
}

.content_area .content_top{
    width: 100%;
}

form{
    display: block;
}

.order_area{
    text-align: right;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.tbl_col02{
    border-top: 1px solid #000;
    border-right: 1px solid #f0f0f0;
    width: 100%;
    border-collapse: separate;
}

table{
    border-spacing: 0;
}

thead{
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}


tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.tbl_col02 th{
    height: 39px;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    color: grey;
    font-size: 12px;
    text-align: center;
}

.inputCheck input{
    width: 18px;
    vertical-align: middle;
    display: inline-block;
    height: 18px;
    margin-top: -4px;
    border: 1px solid grey;
    border-radius: 0;
}

input{
    margin: 0;
    font-size: 12px;
}

.tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.tbl_layout{
    width: 5%;
}

.tbl_col02 td {
    padding: 13px 0 12px;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    color: #000;
}

.tbl_cont01{
    text-align: center;
}

.tbl_layout01{
    width: auto;
}

.tbl_cont{
    padding-left: 3%;
    text-align: left;
}

.clfix:after, .clfix:before{
    display: table;
    line-height: 0;
    content: 0;
}

.clfix:after{
    clear: both;
}

.tbl_cont .p_img{
    float: left;
    padding-right: 30px;
}

.tbl_col02 td a {
    color: #000;
    font-size: 12px;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout01 .tbl_cont .p_info {
    float: left;
    width: 60%;
    padding-left: 3%;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout01 .tbl_cont .p_info li {
    float: none;
    margin-bottom: 3px;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout01 .tbl_cont .p_info .txt_size {
    margin-right: 10px;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout01 .tbl_cont .p_info .input_select {
    display: inline-block;
    width: 70px;
}

.p_info li{
    font-size: 12px;
    line-height: 25px;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout01 .tbl_cont .p_info .input_select {
    display: inline-block;
    width: 70px;
}

option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}

select{
    width: 10%;
    height: 30px;
    font-size: 11px;
    font-family: "Source Code Pro","Courier New",dotum,"돋움";
    line-height: 30px;
}

.tbl_col02 td, .tbl_col02 th, select {
    letter-spacing: -.5px;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout02, .tbl_col02.tbl_col02_mypage_order_detail .tbl_layout03, .tbl_col02.tbl_col02_mypage_order_detail .tbl_layout04 {
    width: 10%;
}

.tbl_col02.tbl_col02_mypage_order_detail .tbl_layout02 .tbl_cont .ico_price {
    padding-left: 11px;
    color: #000;
    font-size: 13px;
}

.tbl_cont01 i{
    font-size: 20px;
    padding: 0 10px;
}

.cart_order_result {
    margin: 59px 0 0;
}

ol, ul {
    list-style: none;
}

.cart_order_result li.result_unit01 {
    width: 33%;
}

.cart_order_result li {
    float: left;
}

.cart_order_result li.result_unit01 dl {
    float: left;
    width: 90.5%;
}

.cart_order_result li dl {
    height: 30px;
    border-bottom: 1px solid #000;
}

.cart_order_result li dt {
    float: left;
    font-size: 12px;
}

.cart_order_result li dd {
    float: right;
    color: #000;
}

dd {
    display: block;
    margin-inline-start: 40px;
}

dt{
    padding-top: 5px;
}

.cart_order_result li.result_unit02 {
    width: 34%;
    padding-top: 16px;
}

.cart_order_result li {
    float: left;
}

.cart_order_result li.result_unit02 dl {
    width: 90.5%;
    margin: 0 auto;
}

.cart_order_result li.result_unit03 {
    width: 33%;
}

.txt01{
    text-align: right;
    font-size: 10px;
    margin: auto;
}

.btn_area{
    width: 100%;
    margin-top: 40px;
    text-align: center;
}

.btn_area .btn{
    display: inline-block;
    min-width: 148px;
}

.btn .btn_black{
    background: #000;
    color: #fff!important;
    font-size: 12px;
    font-family: "Source Code Pro","Courier New",dotum,"돋움";
    text-align: center;
    display: block;
    height: 30px;
    padding: 7px 0 0;
    border: 1px solid #000;
}